In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt

Generate practice data: Section 5-2 Table of join

In [4]:
small_sales_1 = [
    ["product_id", "qty"],
    ["D", 3],
    ["B", 4],
    ["C", 2],
]

df_small_sales_1 = pd.DataFrame(small_sales_1, columns=small_sales_1[0]).drop(0, axis=0)
df_small_sales_1

  product_id qty
1          D   3
2          B   4
3          C   2

In [5]:
small_master = [
    ["product_id", "product_name"],
    ["A", "アジ"],
    ["B", "サバ"],
    ["C", "タコ"]
]

df_small_master = pd.DataFrame(small_master, columns=small_master[0]).drop(0, axis=0)
df_small_master

  product_id product_name
1          A           アジ
2          B           サバ
3          C           タコ

In [6]:
titles = ["small_sales_1", "small_master"]
dfs = [df_small_sales_1, df_small_master]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: Section 5-3 Multiple condition 3 table or more join.

In [7]:
small_sales_2 = [
    ["year_month", "product_category", "sales"],
    [dt.date(2019, 1, 1), "Men's", 134],
    [dt.date(2019, 1, 1), "Lady's", 122],
    [dt.date(2019, 2, 1), "Men's", 155],
    [dt.date(2019, 2, 1), "Lady's", 116],
    [dt.date(2019, 3, 1), "Men's", 152],
    [dt.date(2019, 3, 1), "Lady's", 139]
]

df_small_sales_2 = pd.DataFrame(small_sales_2, columns=small_sales_2[0]).drop(0, axis=0)
df_small_sales_2

   year_month product_category sales
1  2019-01-01            Men's   134
2  2019-01-01           Lady's   122
3  2019-02-01            Men's   155
4  2019-02-01           Lady's   116
5  2019-03-01            Men's   152
6  2019-03-01           Lady's   139

In [8]:
small_target = [
    ["month", "category", "target"],
    [dt.date(2019, 1, 1), "Men's", 130],
    [dt.date(2019, 1, 1), "Lady's", 120],
    [dt.date(2019, 2, 1), "Men's", 160],
    [dt.date(2019, 2, 1), "Lady's", 120],
    [dt.date(2019, 3, 1), "Men's", 160],
    [dt.date(2019, 3, 1), "Lady's", 130],
]

df_small_target = pd.DataFrame(small_target, columns=small_target[0]).drop(0, axis=0)
df_small_target

        month category target
1  2019-01-01    Men's    130
2  2019-01-01   Lady's    120
3  2019-02-01    Men's    160
4  2019-02-01   Lady's    120
5  2019-03-01    Men's    160
6  2019-03-01   Lady's    130

In [9]:
titles = ["small_sales_2", "small_target"]
dfs = [df_small_sales_2, df_small_target]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate Practice-data: Section 5-3-7 Sales, Store, Product tables.

In [10]:
small_sales_3 = [
    ["product_id", "shop_id", "sales"],
    [1, 1, 134],
    [1, 2, 122],
    [1, 3, 155],
    [2, 1, 116],
    [2, 2, 152],
    [2, 3, 139],
]

df_small_sales_3 = pd.DataFrame(small_sales_3, columns=small_sales_3[0]).drop(0, axis=0)
df_small_sales_3

  product_id shop_id sales
1          1       1   134
2          1       2   122
3          1       3   155
4          2       1   116
5          2       2   152
6          2       3   139

In [11]:
small_s_master = [
    ["shop_id", "area_id", "shop_name"],
    [1, 1, "築地"],
    [2, 1, "銀座"],
    [3, 2, "豊洲"],
]

df_s_master = pd.DataFrame(small_s_master, columns=small_s_master[0]).drop(0, axis=0)
df_s_master

  shop_id area_id shop_name
1       1       1        築地
2       2       1        銀座
3       3       2        豊洲

In [12]:
small_p_master = [
    ["product_id", "product_name"],
    [1, "アジ"],
    [2, "タコ"]
]

df_p_master = pd.DataFrame(small_p_master, columns=small_p_master[0]).drop(0, axis=0)
df_p_master

  product_id product_name
1          1           アジ
2          2           タコ

In [13]:
titles = ["small_sales_3", "small_s_master", "small_p_master"]
dfs = [df_small_sales_3, df_s_master, df_p_master]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: SECTION 5-3-11 Sales, Store, Area tables.

In [14]:
small_a_master = [
    ["shop_area_id", "area_name"],
    [1, "中央区"],
    [2, "江東区"]
]

df_small_a_master = pd.DataFrame(small_a_master, columns=small_a_master[0]).drop(0, axis=0)
df_small_a_master

  shop_area_id area_name
1            1       中央区
2            2       江東区

In [15]:
os.makedirs("data", exist_ok=True)
path = f"data/small_a_master.csv"
# df_small_a_master.to_csv(path, index=None)

Generate practice data: Section 5-4-1 Annual sales count table.

In [16]:
small_year = [
    ["year", "qty"],
    [2017, 272],
    [2018, 309],
    [2019, 310],
]

df_small_year = pd.DataFrame(small_year, columns=small_year[0]).drop(0, axis=0)
display(df_small_year)

os.makedirs("data", exist_ok=True)
path = "data/small_year.csv"
# df_small_year.to_csv(path, index=None)

   year  qty
1  2017  272
2  2018  309
3  2019  310

Generate practice data: Section5-4-7 LTV, Client table.

In [17]:
small_ltv = [
    ["user_id", "ltv"],
    [1, 3400],
    [2, 8200],
    [3, 1500],
    [4, 1600],
    [5, 5100],
    [6, 3900],
]

df_small_ltv = pd.DataFrame(small_ltv, columns=small_ltv[0]).drop(0, axis=0)
df_small_ltv

  user_id   ltv
1       1  3400
2       2  8200
3       3  1500
4       4  1600
5       5  5100
6       6  3900

In [18]:
small_customers = [
    ["user_id", "registration_year", "first_purchase_year"],
    [1, np.nan, 2017],
    [2, 2017, 2017],
    [3, np.nan, 2018],
    [4, 2017, 2018],
    [5, 2018, 2019],
    [6, 2019, 2019],
]

df_small_customers = pd.DataFrame(small_customers, columns=small_customers[0]).drop(0, axis=0)
df_small_customers

  user_id registration_year first_purchase_year
1       1               NaN                2017
2       2              2017                2017
3       3               NaN                2018
4       4              2017                2018
5       5              2018                2019
6       6              2019                2019

In [19]:
titles = ["small_ltv", "small_customers"]
dfs = [df_small_ltv, df_small_customers]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: Section 5-4-10 Small Order.

In [20]:
small_order = [
    ["order_id", "product_name"],
    [1, "アジ"],
    [1, "サバ"],
    [1, "タコ"],
    [2, "キス"],
    [2, "タコ"],
    [3, "アジ"],
    [3, "タコ"],
]

df_small_order = pd.DataFrame(small_order, columns=small_order[0]).drop(0, axis=0)
df_small_order

  order_id product_name
1        1           アジ
2        1           サバ
3        1           タコ
4        2           キス
5        2           タコ
6        3           アジ
7        3           タコ

In [21]:
os.makedirs("data", exist_ok=True)
path = "data/small_order.csv"
# df_small_order.to_csv(path, index=None)

Generate practice: Section 5-5-6 Jan, Feb tables

In [22]:
small_jan = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 1, 10), "アジ", 3],
    [dt.date(2020, 1, 11), "タコ", 1],
    [dt.date(2020, 1, 15), "サバ", 3],
    [dt.date(2020, 1, 18), "キス", 2],
    [dt.date(2020, 1, 20), "タイ", 1],
]

df_small_jan = pd.DataFrame(small_jan, columns=small_jan[0]).drop(0, axis=0)
df_small_jan

         date product_name qty
1  2020-01-10           アジ   3
2  2020-01-11           タコ   1
3  2020-01-15           サバ   3
4  2020-01-18           キス   2
5  2020-01-20           タイ   1

In [23]:
small_feb = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 2, 9), "アジ", 3],
    [dt.date(2020, 2, 12), "ブリ", 3],
    [dt.date(2020, 2, 15), "キス", 3],
    [dt.date(2020, 2, 19), "タイ", 2],
    [dt.date(2020, 2, 28), "イカ", 1],
]
df_small_feb = pd.DataFrame(small_feb, columns=small_feb[0]).drop(0, axis=0)
df_small_feb

         date product_name qty
1  2020-02-09           アジ   3
2  2020-02-12           ブリ   3
3  2020-02-15           キス   3
4  2020-02-19           タイ   2
5  2020-02-28           イカ   1

In [24]:
titles = ["small_jan", "small_feb"]
dfs = [df_small_jan, df_small_feb]
for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    df.to_csv(path, index=0)

Generate practice data: 5-5-20, Jan, Feb, March sales tables.

In [25]:
df_small_jan

         date product_name qty
1  2020-01-10           アジ   3
2  2020-01-11           タコ   1
3  2020-01-15           サバ   3
4  2020-01-18           キス   2
5  2020-01-20           タイ   1

In [26]:
df_small_feb

         date product_name qty
1  2020-02-09           アジ   3
2  2020-02-12           ブリ   3
3  2020-02-15           キス   3
4  2020-02-19           タイ   2
5  2020-02-28           イカ   1

In [27]:
small_mar = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 3, 1), "アジ", 1],
    [dt.date(2020, 3, 3), "エビ", 3],
    [dt.date(2020, 3, 16), "サバ", 2],
    [dt.date(2020, 3, 19), "タイ", 2],
    [dt.date(2020, 3, 22), "タコ", 1],
]
df_small_mar = pd.DataFrame(small_mar, columns=small_mar[0]).drop(0, axis=0)
df_small_mar

         date product_name qty
1  2020-03-01           アジ   1
2  2020-03-03           エビ   3
3  2020-03-16           サバ   2
4  2020-03-19           タイ   2
5  2020-03-22           タコ   1

In [28]:
os.makedirs("data", exist_ok=True)
path = "data/small_mar.csv"
# df_small_mar.to_csv(path, index=None)

Generate practice data: 6-1-4 Minimum wage by 3 annual prefectures

In [2]:
small_wage = [
    ["pref", "year", "min_wage"],
    ["東京", "H29", 958],
    ["東京", "H30", 985],
    ["東京", "R1", 1013],
    ["北海道", "H29", 810],
    ["北海道", "H30", 835],
    ["北海道", "R1", 861],
    ["千葉", "H29", 868],
    ["千葉", "H30", 895],
    ["千葉", "R1", 923],
]
df_small_wage = pd.DataFrame(small_wage, columns=small_wage[0]).drop(0, axis=0)
df_small_wage

  pref year min_wage
1   東京  H29      958
2   東京  H30      985
3   東京   R1     1013
4  北海道  H29      810
5  北海道  H30      835
6  北海道   R1      861
7   千葉  H29      868
8   千葉  H30      895
9   千葉   R1      923

In [3]:
os.makedirs("data", exist_ok=True)
path = f"data/small_wage.csv"
df_small_wage.to_csv(path, index=None)