In [2]:
import pandas as pd
import numpy as np
import os
import datetime as dt

Generate practice data: Section 5-2 Table of join

In [4]:
small_sales_1 = [
    ["product_id", "qty"],
    ["D", 3],
    ["B", 4],
    ["C", 2],
]

df_small_sales_1 = pd.DataFrame(small_sales_1, columns=small_sales_1[0]).drop(0, axis=0)
df_small_sales_1

  product_id qty
1          D   3
2          B   4
3          C   2

In [5]:
small_master = [
    ["product_id", "product_name"],
    ["A", "アジ"],
    ["B", "サバ"],
    ["C", "タコ"]
]

df_small_master = pd.DataFrame(small_master, columns=small_master[0]).drop(0, axis=0)
df_small_master

  product_id product_name
1          A           アジ
2          B           サバ
3          C           タコ

In [6]:
titles = ["small_sales_1", "small_master"]
dfs = [df_small_sales_1, df_small_master]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: Section 5-3 Multiple condition 3 table or more join.

In [7]:
small_sales_2 = [
    ["year_month", "product_category", "sales"],
    [dt.date(2019, 1, 1), "Men's", 134],
    [dt.date(2019, 1, 1), "Lady's", 122],
    [dt.date(2019, 2, 1), "Men's", 155],
    [dt.date(2019, 2, 1), "Lady's", 116],
    [dt.date(2019, 3, 1), "Men's", 152],
    [dt.date(2019, 3, 1), "Lady's", 139]
]

df_small_sales_2 = pd.DataFrame(small_sales_2, columns=small_sales_2[0]).drop(0, axis=0)
df_small_sales_2

   year_month product_category sales
1  2019-01-01            Men's   134
2  2019-01-01           Lady's   122
3  2019-02-01            Men's   155
4  2019-02-01           Lady's   116
5  2019-03-01            Men's   152
6  2019-03-01           Lady's   139

In [8]:
small_target = [
    ["month", "category", "target"],
    [dt.date(2019, 1, 1), "Men's", 130],
    [dt.date(2019, 1, 1), "Lady's", 120],
    [dt.date(2019, 2, 1), "Men's", 160],
    [dt.date(2019, 2, 1), "Lady's", 120],
    [dt.date(2019, 3, 1), "Men's", 160],
    [dt.date(2019, 3, 1), "Lady's", 130],
]

df_small_target = pd.DataFrame(small_target, columns=small_target[0]).drop(0, axis=0)
df_small_target

        month category target
1  2019-01-01    Men's    130
2  2019-01-01   Lady's    120
3  2019-02-01    Men's    160
4  2019-02-01   Lady's    120
5  2019-03-01    Men's    160
6  2019-03-01   Lady's    130

In [9]:
titles = ["small_sales_2", "small_target"]
dfs = [df_small_sales_2, df_small_target]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate Practice-data: Section 5-3-7 Sales, Store, Product tables.

In [10]:
small_sales_3 = [
    ["product_id", "shop_id", "sales"],
    [1, 1, 134],
    [1, 2, 122],
    [1, 3, 155],
    [2, 1, 116],
    [2, 2, 152],
    [2, 3, 139],
]

df_small_sales_3 = pd.DataFrame(small_sales_3, columns=small_sales_3[0]).drop(0, axis=0)
df_small_sales_3

  product_id shop_id sales
1          1       1   134
2          1       2   122
3          1       3   155
4          2       1   116
5          2       2   152
6          2       3   139

In [11]:
small_s_master = [
    ["shop_id", "area_id", "shop_name"],
    [1, 1, "築地"],
    [2, 1, "銀座"],
    [3, 2, "豊洲"],
]

df_s_master = pd.DataFrame(small_s_master, columns=small_s_master[0]).drop(0, axis=0)
df_s_master

  shop_id area_id shop_name
1       1       1        築地
2       2       1        銀座
3       3       2        豊洲

In [12]:
small_p_master = [
    ["product_id", "product_name"],
    [1, "アジ"],
    [2, "タコ"]
]

df_p_master = pd.DataFrame(small_p_master, columns=small_p_master[0]).drop(0, axis=0)
df_p_master

  product_id product_name
1          1           アジ
2          2           タコ

In [13]:
titles = ["small_sales_3", "small_s_master", "small_p_master"]
dfs = [df_small_sales_3, df_s_master, df_p_master]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: SECTION 5-3-11 Sales, Store, Area tables.

In [14]:
small_a_master = [
    ["shop_area_id", "area_name"],
    [1, "中央区"],
    [2, "江東区"]
]

df_small_a_master = pd.DataFrame(small_a_master, columns=small_a_master[0]).drop(0, axis=0)
df_small_a_master

  shop_area_id area_name
1            1       中央区
2            2       江東区

In [15]:
os.makedirs("data", exist_ok=True)
path = f"data/small_a_master.csv"
# df_small_a_master.to_csv(path, index=None)

Generate practice data: Section 5-4-1 Annual sales count table.

In [16]:
small_year = [
    ["year", "qty"],
    [2017, 272],
    [2018, 309],
    [2019, 310],
]

df_small_year = pd.DataFrame(small_year, columns=small_year[0]).drop(0, axis=0)
display(df_small_year)

os.makedirs("data", exist_ok=True)
path = "data/small_year.csv"
# df_small_year.to_csv(path, index=None)

   year  qty
1  2017  272
2  2018  309
3  2019  310

Generate practice data: Section5-4-7 LTV, Client table.

In [17]:
small_ltv = [
    ["user_id", "ltv"],
    [1, 3400],
    [2, 8200],
    [3, 1500],
    [4, 1600],
    [5, 5100],
    [6, 3900],
]

df_small_ltv = pd.DataFrame(small_ltv, columns=small_ltv[0]).drop(0, axis=0)
df_small_ltv

  user_id   ltv
1       1  3400
2       2  8200
3       3  1500
4       4  1600
5       5  5100
6       6  3900

In [18]:
small_customers = [
    ["user_id", "registration_year", "first_purchase_year"],
    [1, np.nan, 2017],
    [2, 2017, 2017],
    [3, np.nan, 2018],
    [4, 2017, 2018],
    [5, 2018, 2019],
    [6, 2019, 2019],
]

df_small_customers = pd.DataFrame(small_customers, columns=small_customers[0]).drop(0, axis=0)
df_small_customers

  user_id registration_year first_purchase_year
1       1               NaN                2017
2       2              2017                2017
3       3               NaN                2018
4       4              2017                2018
5       5              2018                2019
6       6              2019                2019

In [19]:
titles = ["small_ltv", "small_customers"]
dfs = [df_small_ltv, df_small_customers]

for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    # df.to_csv(path, index=None)

Generate practice data: Section 5-4-10 Small Order.

In [20]:
small_order = [
    ["order_id", "product_name"],
    [1, "アジ"],
    [1, "サバ"],
    [1, "タコ"],
    [2, "キス"],
    [2, "タコ"],
    [3, "アジ"],
    [3, "タコ"],
]

df_small_order = pd.DataFrame(small_order, columns=small_order[0]).drop(0, axis=0)
df_small_order

  order_id product_name
1        1           アジ
2        1           サバ
3        1           タコ
4        2           キス
5        2           タコ
6        3           アジ
7        3           タコ

In [21]:
os.makedirs("data", exist_ok=True)
path = "data/small_order.csv"
# df_small_order.to_csv(path, index=None)

Generate practice: Section 5-5-6 Jan, Feb tables

In [22]:
small_jan = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 1, 10), "アジ", 3],
    [dt.date(2020, 1, 11), "タコ", 1],
    [dt.date(2020, 1, 15), "サバ", 3],
    [dt.date(2020, 1, 18), "キス", 2],
    [dt.date(2020, 1, 20), "タイ", 1],
]

df_small_jan = pd.DataFrame(small_jan, columns=small_jan[0]).drop(0, axis=0)
df_small_jan

         date product_name qty
1  2020-01-10           アジ   3
2  2020-01-11           タコ   1
3  2020-01-15           サバ   3
4  2020-01-18           キス   2
5  2020-01-20           タイ   1

In [23]:
small_feb = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 2, 9), "アジ", 3],
    [dt.date(2020, 2, 12), "ブリ", 3],
    [dt.date(2020, 2, 15), "キス", 3],
    [dt.date(2020, 2, 19), "タイ", 2],
    [dt.date(2020, 2, 28), "イカ", 1],
]
df_small_feb = pd.DataFrame(small_feb, columns=small_feb[0]).drop(0, axis=0)
df_small_feb

         date product_name qty
1  2020-02-09           アジ   3
2  2020-02-12           ブリ   3
3  2020-02-15           キス   3
4  2020-02-19           タイ   2
5  2020-02-28           イカ   1

In [24]:
titles = ["small_jan", "small_feb"]
dfs = [df_small_jan, df_small_feb]
for title, df in zip(titles, dfs):
    os.makedirs("data", exist_ok=True)
    path = f"data/{title}.csv"
    df.to_csv(path, index=0)

Generate practice data: 5-5-20, Jan, Feb, March sales tables.

In [25]:
df_small_jan

         date product_name qty
1  2020-01-10           アジ   3
2  2020-01-11           タコ   1
3  2020-01-15           サバ   3
4  2020-01-18           キス   2
5  2020-01-20           タイ   1

In [26]:
df_small_feb

         date product_name qty
1  2020-02-09           アジ   3
2  2020-02-12           ブリ   3
3  2020-02-15           キス   3
4  2020-02-19           タイ   2
5  2020-02-28           イカ   1

In [27]:
small_mar = [
    ["date", "product_name", "qty"],
    [dt.date(2020, 3, 1), "アジ", 1],
    [dt.date(2020, 3, 3), "エビ", 3],
    [dt.date(2020, 3, 16), "サバ", 2],
    [dt.date(2020, 3, 19), "タイ", 2],
    [dt.date(2020, 3, 22), "タコ", 1],
]
df_small_mar = pd.DataFrame(small_mar, columns=small_mar[0]).drop(0, axis=0)
df_small_mar

         date product_name qty
1  2020-03-01           アジ   1
2  2020-03-03           エビ   3
3  2020-03-16           サバ   2
4  2020-03-19           タイ   2
5  2020-03-22           タコ   1

In [28]:
os.makedirs("data", exist_ok=True)
path = "data/small_mar.csv"
# df_small_mar.to_csv(path, index=None)

Generate practice data: 6-1-4 Minimum wage by 3 annual prefectures

In [2]:
small_wage = [
    ["pref", "year", "min_wage"],
    ["東京", "H29", 958],
    ["東京", "H30", 985],
    ["東京", "R1", 1013],
    ["北海道", "H29", 810],
    ["北海道", "H30", 835],
    ["北海道", "R1", 861],
    ["千葉", "H29", 868],
    ["千葉", "H30", 895],
    ["千葉", "R1", 923],
]
df_small_wage = pd.DataFrame(small_wage, columns=small_wage[0]).drop(0, axis=0)
df_small_wage

  pref year min_wage
1   東京  H29      958
2   東京  H30      985
3   東京   R1     1013
4  北海道  H29      810
5  北海道  H30      835
6  北海道   R1      861
7   千葉  H29      868
8   千葉  H30      895
9   千葉   R1      923

In [3]:
os.makedirs("data", exist_ok=True)
path = f"data/small_wage.csv"
df_small_wage.to_csv(path, index=None)

In [5]:
small_wage_reiwa1 = [
    ["pref", "min_wage"],
    ["北海道", 861],
    ["青森", 790],
    ["岩手", 790],
    ["宮城", 824],
    ["秋田", 790],
    ["山形", 790],
    ["福島", 798],
    ["茨城", 849],
    ["栃木", 853],
    ["群馬", 835],
    ["埼玉", 926],
    ["千葉", 923],
    ["東京", 1013],
    ["神奈川", 1011],
    ["新潟", 830],
    ["富山", 848],
    ["石川", 832],
    ["福井", 829],
    ["山梨", 837],
    ["長野", 848],
    ["岐阜", 851],
    ["静岡", 885],
    ["愛知", 926],
    ["三重", 873],
    ["滋賀", 866],
    ["京都", 909],
    ["大阪", 964],
    ["兵庫", 899],
    ["奈良", 837],
    ["和歌山", 830],
    ["鳥取", 790],
    ["島根", 790],
    ["岡山", 833],
    ["広島", 871],
    ["山口", 829],
    ["徳島", 793],
    ["香川", 818],
    ["愛媛", 790],
    ["高知", 790],
    ["福岡", 841],
    ["佐賀", 790],
    ["長崎", 790],
    ["熊本", 790],
    ["大分", 790],
    ["宮崎", 790],
    ["鹿児島", 790],
    ["沖縄", 790],
]

df_small_wage_reiwa1 = pd.DataFrame(small_wage_reiwa1, columns=small_wage_reiwa1[0]).drop(0, axis=0)
df_small_wage_reiwa1

   pref min_wage
1   北海道      861
2    青森      790
3    岩手      790
4    宮城      824
5    秋田      790
6    山形      790
7    福島      798
8    茨城      849
9    栃木      853
10   群馬      835
11   埼玉      926
12   千葉      923
13   東京     1013
14  神奈川     1011
15   新潟      830
16   富山      848
17   石川      832
18   福井      829
19   山梨      837
20   長野      848
21   岐阜      851
22   静岡      885
23   愛知      926
24   三重      873
25   滋賀      866
26   京都      909
27   大阪      964
28   兵庫      899
29   奈良      837
30  和歌山      830
31   鳥取      790
32   島根      790
33   岡山      833
34   広島      871
35   山口      829
36   徳島      793
37   香川      818
38   愛媛      790
39   高知      790
40   福岡      841
41   佐賀      790
42   長崎      790
43   熊本      790
44   大分      790
45   宮崎      790
46  鹿児島      790
47   沖縄      790

Generate practice file: 6-1-17

In [7]:
df_small_wage_reiwa1.reset_index(inplace=True)
df_small_wage_reiwa1.columns = ["pref_id", "pref", "min_wage"]
df_small_wage_reiwa1

    pref_id pref min_wage
0         1  北海道      861
1         2   青森      790
2         3   岩手      790
3         4   宮城      824
4         5   秋田      790
5         6   山形      790
6         7   福島      798
7         8   茨城      849
8         9   栃木      853
9        10   群馬      835
10       11   埼玉      926
11       12   千葉      923
12       13   東京     1013
13       14  神奈川     1011
14       15   新潟      830
15       16   富山      848
16       17   石川      832
17       18   福井      829
18       19   山梨      837
19       20   長野      848
20       21   岐阜      851
21       22   静岡      885
22       23   愛知      926
23       24   三重      873
24       25   滋賀      866
25       26   京都      909
26       27   大阪      964
27       28   兵庫      899
28       29   奈良      837
29       30  和歌山      830
30       31   鳥取      790
31       32   島根      790
32       33   岡山      833
33       34   広島      871
34       35   山口      829
35       36   徳島      793
36       37   香川      818
37       38   愛媛      790
38       39   高知      790
39       40   福岡      841
40       41   佐賀      790
41       42   長崎      790
42       43   熊本      790
43       44   大分      790
44       45   宮崎      790
45       46  鹿児島      790
46       47   沖縄      790

In [8]:
os.makedirs("data", exist_ok=True)
path = "data/small_wage_reiwa1.csv"
df_small_wage_reiwa1.to_csv(path, index=None)

Generate practice data: file 6-2-2

In [2]:
small_revenue = [
    ["order_id", "fashion_revenue", "zakka_revenue", "food_revenue"],
    [123, 18600, np.nan, 5800],
    [124, np.nan, 2400, 8800],
    [125, 6900, 2900, 11200],
    [126, 4200, 3800, 4500],
    [127, np.nan, 9800, np.nan],
]
df_small_revenue = pd.DataFrame(small_revenue, columns=small_revenue[0]).drop(0, axis=0)
df_small_revenue

  order_id fashion_revenue zakka_revenue food_revenue
1      123           18600           NaN         5800
2      124             NaN          2400         8800
3      125            6900          2900        11200
4      126            4200          3800         4500
5      127             NaN          9800          NaN

In [3]:
os.makedirs("data", exist_ok=True)
path = "data/small_revenue.csv"
df_small_revenue.to_csv(path, index=None)
pd.read_csv(path)

   order_id  fashion_revenue  zakka_revenue  food_revenue
0       123          18600.0            NaN        5800.0
1       124              NaN         2400.0        8800.0
2       125           6900.0         2900.0       11200.0
3       126           4200.0         3800.0        4500.0
4       127              NaN         9800.0           NaN

Generate practice data: 6-2-6 Vertical Table

In [4]:
small_ad = [
    ["ad_id", "phase", "bounce_rate"],
    ["A", "before", 0.68],
    ["A", "after", 0.62],
    ["B", "before", 0.52],
    ["B", "after", 0.55],
]
df_small_ad = pd.DataFrame(small_ad, columns=small_ad[0]).drop(0, axis=0)
df_small_ad

  ad_id   phase bounce_rate
1     A  before        0.68
2     A   after        0.62
3     B  before        0.52
4     B   after        0.55

In [6]:
os.makedirs("data", exist_ok=True)
path = "data/small_ad.csv"
df_small_ad.to_csv(path, index=None)

Generate practice data: 6-2-9 Order history table

In [7]:
small_order_date = [
    ["user_id", "order_id", "order_date", "item_cat", "revenue"],
    ["ABC", 123, dt.date(2020, 3, 5), "ファッション", 10000],
    ["ABC", 124, dt.date(2020, 4, 10), "ファッション", 12000],
    ["ABC", 124, dt.date(2020, 4, 10), "雑貨", 3900],
    ["ABC", 125, dt.date(2020, 5, 12), "グルメ", 5800],
    ["STU", 126, dt.date(2020, 5, 13), "グルメ", 8600],
    ["STU", 127, dt.date(2020, 5, 27), "ファッション", 3900],
    ["STU", 127, dt.date(2020, 5, 27), "雑貨", 6600],
    ["XYZ", 128, dt.date(2020, 6, 1), "ファッション", 2900],
    ["XYZ", 128, dt.date(2020, 6, 1), "ファッション", 6900],
    ["XYZ", 129, dt.date(2020, 6, 19), "雑貨", 38000],
]
df_small_order_date = pd.DataFrame(small_order_date, columns=small_order_date[0]).drop(0, axis=0)
df_small_order_date

   user_id order_id  order_date item_cat revenue
1      ABC      123  2020-03-05   ファッション   10000
2      ABC      124  2020-04-10   ファッション   12000
3      ABC      124  2020-04-10       雑貨    3900
4      ABC      125  2020-05-12      グルメ    5800
5      STU      126  2020-05-13      グルメ    8600
6      STU      127  2020-05-27   ファッション    3900
7      STU      127  2020-05-27       雑貨    6600
8      XYZ      128  2020-06-01   ファッション    2900
9      XYZ      128  2020-06-01   ファッション    6900
10     XYZ      129  2020-06-19       雑貨   38000

In [8]:
os.makedirs("data", exist_ok=True)
path = "data/small_order_date.csv"
df_small_order_date.to_csv(path, index=None)

Generate practice data: Sales result table 6-2-11

In [3]:
small_item = [
    ["order_id", "item", "revenue"],
    [123, "A", 5800],
    [123, "B", 5800],
    [124, "A", 7200],
    [124, "D", 7200],
    [124, "E", 7200],
    [125, "C", 4800],
    [125, "E", 4800],
    [126, "B", 3200],
    [126, "C", 3200],
]
df_small_item = pd.DataFrame(small_item, columns=small_item[0]).drop(0, axis=0)
df_small_item

  order_id item revenue
1      123    A    5800
2      123    B    5800
3      124    A    7200
4      124    D    7200
5      124    E    7200
6      125    C    4800
7      125    E    4800
8      126    B    3200
9      126    C    3200

In [4]:
os.makedirs("data", exist_ok=True)
path = "data/small_item.csv"
df_small_item.to_csv(path, index=None)

Generate practice data: Working record & Calendar tables #6-2-15

In [5]:
small_workdate = [
    ["room", "start_date", "end_date"],
    [101, dt.date(2020, 6, 1), dt.date(2020, 6, 5)],
    [102, dt.date(2020, 6, 8), dt.date(2020, 6, 11)],
    [103, dt.date(2020, 6, 12), dt.date(2020, 6, 16)],
    [104, dt.date(2020, 6, 19), dt.date(2020, 6, 23)],
    [105, dt.date(2020, 6, 24), dt.date(2020, 6, 30)],
    ]
df_small_workdate = pd.DataFrame(small_workdate, columns=small_workdate[0]).drop(0, axis=0)
df_small_workdate

  room  start_date    end_date
1  101  2020-06-01  2020-06-05
2  102  2020-06-08  2020-06-11
3  103  2020-06-12  2020-06-16
4  104  2020-06-19  2020-06-23
5  105  2020-06-24  2020-06-30

In [13]:
small_cal = []
for i in range(1, 31):
    date = dt.date(2020, 6, i)
    small_cal.append([date, date.strftime("%a")])

small_cal

df_small_cal = pd.DataFrame(small_cal, columns=["date", "day_of_week"])
df_small_cal

          date day_of_week
0   2020-06-01         Mon
1   2020-06-02         Tue
2   2020-06-03         Wed
3   2020-06-04         Thu
4   2020-06-05         Fri
5   2020-06-06         Sat
6   2020-06-07         Sun
7   2020-06-08         Mon
8   2020-06-09         Tue
9   2020-06-10         Wed
10  2020-06-11         Thu
11  2020-06-12         Fri
12  2020-06-13         Sat
13  2020-06-14         Sun
14  2020-06-15         Mon
15  2020-06-16         Tue
16  2020-06-17         Wed
17  2020-06-18         Thu
18  2020-06-19         Fri
19  2020-06-20         Sat
20  2020-06-21         Sun
21  2020-06-22         Mon
22  2020-06-23         Tue
23  2020-06-24         Wed
24  2020-06-25         Thu
25  2020-06-26         Fri
26  2020-06-27         Sat
27  2020-06-28         Sun
28  2020-06-29         Mon
29  2020-06-30         Tue

In [15]:
os.makedirs("data", exist_ok=True)
titles = ["small_workdate", "small_cal"]
dfs = [df_small_workdate, df_small_cal]
for title, df in zip(titles, dfs):
    path = f"data/{title}.csv"
    df.to_csv(path, index=None)